PORT=5000
MONGO_URI=mongodb://localhost:27017/notes_app
mongodb+srv://testuser0:<Notesapp123>@cluster0.xk2xolw.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=your_jwt_secret_here
